.accordion-se {
	$this: &;

	display: grid;
	gap: 10px;

	@media (width >= 640px) {
		gap: 15px;
	}

	&__item {
		border: 1px solid var(--color-grey-400);
		border-radius: var(--radius-sm);
		background-color: var(--color-grey-100);
		box-shadow: var(--shadow-default);
		overflow: hidden;

		&.opened {
			#{$this}__header {
				svg {
					color: var(--color-red-700);
					transform: rotate(90deg);
				}
			}

			#{$this}__body {
				grid-template-rows: 1fr;
			}

			#{$this}__transform {
				transform: translateY(0);
				visibility: visible;
				transition: transform .2s ease-in-out, visibility 0s linear;
			}
		}
	}

	&__header {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 20px;
		cursor: pointer;
		transition: background-color var(--transition-default);

		@media (width >= 640px) {
			padding-inline: 40px;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: color-mix(in srgb, var(--color-grey-100), #000 3%);
			}

			&:active {
				background-color: color-mix(in srgb, var(--color-grey-100), #000 5%);
			}
		}

		svg {
			flex-shrink: 0;
			color: var(--color-blue-900);
			transition: transform .2s ease-in-out;
		}
	}

	&__body {
		display: grid;
		grid-template-rows: 0fr;
		overflow: hidden;
		transition: grid-template-rows .2s ease-in-out;
	}

	&__animation {
		min-height: 0;
	}

	&__transform {
		transform: translateY(-100%);
		visibility: hidden;
		transition: transform .2s ease-in-out, visibility 0s .2s ease-in-out;
		padding-block: 20px;
		padding-inline: 54px 20px;

		@media (width >= 640px) {
			padding-inline: 74px 40px;
		}

		.opened & {
			padding-block-start: 0;
		}
	}
}
