.our-offers-card {
	flex-grow: 1;

	&:not(&_big) {
		max-width: 400px;
	}

	&_big {
		max-width: 400px;

		@media (width >= 768px) {
			max-width: 100%;
		}

		img {
			height: 94px;

			@media (width >= 768px) {
				height: auto;
			}
		}
	}

	&__image {
		min-height: 276px;
		display: grid;
		place-content: center;
		padding-inline: 24px;
		background-image: url("/images/our-offers/bg.png");
		background-color: var(--color-grey-200);
		background-repeat: repeat;
		background-size: 1280px;

		img {
			width: auto;
		}
	}

	&,
	&__body {
		display: flex;
		flex-direction: column;
	}

	&__body {
		padding: 24px;
		flex-grow: 1;

		@media (width >= 640px) {
			padding: 32px;
		}
	}

	&__title {
		margin-block-end: 16px;
	}

	&__description {
		flex-grow: 1;
		margin-block-end: 24px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
	}

	&__tooltip {
		width: 35px;
		aspect-ratio: 1;
		display: grid;
		place-content: center;
		border-radius: 50%;
		background-color: var(--color-grey-100);
		box-shadow: var(--shadow-sky);
		cursor: default;

		&-content {
			display: grid;

			span {
				padding: 4px 8px;

				&:nth-child(1) {
					font-weight: 600;
					background-color: var(--color-grey-400);
					border-block-end: 1px solid #eee;
				}
			}
		}
	}

	&__footer {
		display: flex;
		align-items: center;
		gap: 16px;
		justify-content: space-between;
	}
}
