.request-call-popup {
	&__body {
		background-color: var(--color-grey-100);
		border-radius: var(--radius-lg);
		padding: 32px;
		box-shadow: 0 0 30px rgba(#000, 8%);

		@media (width >= 640px) {
			padding: 40px;
		}
	}

	&__title {
		margin-block-end: 24px;
		text-align: center;
	}

	&__form {
		display: grid;
		gap: 20px;

		input,
		textarea {
			box-shadow: var(--shadow-default);
		}

		textarea {
			height: 116px;
		}

		button[type=submit] {
			margin-block-start: 12px;
		}
	}
}
