.review-card {
	padding: 24px;
	height: 100%;
	display: flex;
	flex-direction: column;

	@media (width >= 640px) {
		padding: 40px;

	}

	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		gap: 24px;

		@media (width >= 640px) {
			gap: 40px;
		}
	}

	&__description {
		text-align: center;
	}

	&__author {
		display: grid;
		align-items: center;
		grid-template-columns: 80px auto;
		gap: 16px 20px;
	}

	&__avatar {
		grid-column: 1 / 2;
		grid-row: 1 / 3;
		width: 80px;
		aspect-ratio: 1;
		border-radius: 50%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		align-self: end;
	}

	&__rating {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
		display: flex;
		gap: 2px;
		align-self: start;
	}

	&__star {
		color: #ffc107;
		font-size: 14px;
	}
}
