.service-card {
	width: 100%;
	container-type: inline-size;
	display: flex;

	&__inner {
		display: flex;
		flex-direction: column;

		@container (inline-size >= 450px) {
			display: grid;
			grid-template-columns: 250px 1fr;
		}
	}

	&__image {
		position: relative;
		overflow: hidden;
		min-height: 250px;
		border-radius: var(--radius-lg);

		img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__content {
		padding: 20px;
		display: flex;
		flex-direction: column;

		@media (width >= 640px) {
			padding: 30px;
		}
	}

	&__title {
		display: block;
		margin-block-end: 16px;
	}

	&__text {
		display: -webkit-box;
		overflow: hidden;
		-webkit-box-orient: block-axis;
		-webkit-line-clamp: 5;
		flex-grow: 1;

		&:not(:last-child) {
			margin-block-end: 24px;
		}
	}
}
