.stock-card {
	padding: 20px;
	display: grid;
	align-items: center;
	gap: 12px;
	container-type: inline-size;

	@container (width >= 450px) {
		gap: 16px 20px;
		grid-template-columns: 160px auto;
	}

	img {
		display: block;
		width: 100%;
		height: 100%;
		border-radius: var(--radius-sm);
		object-fit: cover;
		object-position: left;

		@container (width >= 450px) {
			grid-row: 1 / 3;
			grid-column: 1 / 2;
		}
	}

	&__title {
		@container (width >= 450px) {
			grid-row: 1 / 2;
			grid-column: 2 / 3;
			align-self: end;
		}
	}

	&__text {
		@container (width >= 450px) {
			grid-row: 2 / 3;
			grid-column: 2 / 3;
			align-self: start;
		}
	}
}
