@use "@styles/libs/swiper";
@use "@styles/components/hero-card";
@use "@styles/components/service-card";
@use "@styles/components/stock-card";
@use "@styles/components/accordion-se";
@use "@styles/components/advertising-block";
@use "@styles/components/review-card";
@use "@styles/sections/hero-home";
@use "@styles/sections/order-process";
@use "@styles/sections/how-we-do";
@use "@styles/sections/accessories";
@use "@styles/sections/services";
@use "@styles/sections/video-right-windows";
@use "@styles/sections/stock";
@use "@styles/sections/reviews";
@use "@styles/sections/useful-articles";
@use "@styles/sections/our-clients";
@use "@styles/sections/faq-cta";
@use "@styles/sections/call-request-cta";
@use "@styles/sections/office-map";
