.burger-menu-opened {
	overflow: hidden;
	padding-inline-end: var(--scrollbar-width);
	background-color: var(--color-black-700);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1300px;
	padding-inline: var(--container-offset);
	margin-inline: auto;
}

.section-group {
	--space: 60px;
	display: grid;
	gap: var(--space);
	padding-block: var(--space);

	@media (width >= 640px) {
		--space: 120px;
	}

	&_white {
		background-color: var(--color-grey-100);
	}

	&_sky {
		background-color: var(--color-grey-300);
	}
}
