.burger-menu-opened {
	overflow: hidden;
	padding-inline-end: var(--scrollbar-width);
	background-color: var(--color-black-700);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1300px;
	padding-inline: var(--container-offset);
	margin-inline: auto;
}

.section-group {
	--space: 60px;
	display: grid;
	grid-template-columns: 100%;
	gap: var(--space);
	padding-block: var(--space);

	@media (width >= 640px) {
		--space: 120px;
	}

	&_white {
		background-color: var(--color-grey-100);
	}

	&_sky {
		background-color: var(--color-grey-300);
	}
}

.base-card {
	background-color: var(--color-grey-100);
	border-radius: var(--radius-lg);
	border: 1px solid var(--color-grey-400);
	overflow: hidden;

	&_shadow {
		box-shadow: var(--shadow-default);
	}
}

[data-tabs=item] {
	&:not(.active) {
		display: none;
	}

	&.active {
		animation: fade-in .3s ease-in-out forwards;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		transform: translateY(-5px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
