.burger-menu-opened {
	overflow: hidden;
	padding-inline-end: var(--scrollbar-width);
	background-color: var(--color-black-700);
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow: hidden;
}

.container {
	max-width: 1300px;
	padding-inline: var(--container-offset);
	margin-inline: auto;
}
