.btn {
	padding-inline: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	font-weight: 700;
	border-radius: var(--control-radius);
	transition-property: color, box-shadow, background-color, transform;
	transition-duration: .25s;
	transition-timing-function: ease-in-out;

	&_full {
		width: 100%;
	}

	&_m-content {
		width: max-content;
	}

	&_md {
		font-size: 16px;
		height: var(--control-height-md);
	}

	&_lg {
		font-size: 18px;
		height: var(--control-height-lg);
	}

	&_white {
		color: var(--color-gray-100);
		border-color: var(--color-gray-100);

		&:not(:disabled) {
			@media (any-hover: hover) {
				&:hover {
					background-color: var(--color-gray-100);
					color: var(--color-blue-900);
				}
			}
		}
	}

	&_blue {
		color: var(--color-blue-900);
		border-color: var(--color-blue-900);

		&:not(:disabled) {
			@media (any-hover: hover) {
				&:hover {
					background-color: var(--color-blue-900);
					color: var(--color-gray-100);
				}
			}
		}
	}

	&_gradient {
		background: var(--gradient-primary);

		&:not(:disabled) {
			@media (any-hover: hover) {
				&:hover {
					box-shadow: var(--shadow-default);
				}

				&:active {
					transform: translateY(4px);
				}
			}
		}
	}
}
