.input {
	width: 100%;
	line-height: 1.4;
	font-weight: 600;
	padding-inline: 16px;
	border-radius: var(--control-radius);
	transition-timing-function: ease-in-out;
	transition-duration: .2s;
	transition-property: border-color, color, background-color;

	&::placeholder {
		color: inherit;
	}

	&_md {
		font-size: 16px;
		height: var(--control-height-md);
	}

	&_lg {
		font-size: 18px;
		height: var(--control-height-lg);
	}

	&_smoke {
		color: var(--color-gray-100);
		background-color: color-mix(in srgb, var(--color-gray-100), transparent 80%);
		backdrop-filter: blur(2px);
		border: 1px solid var(--color-gray-700);

		&:focus {
			border-color: var(--color-red-700);
		}
	}

	&_white {
		color: var(--color-gray-700);
		background-color: var(--color-gray-100);
	}
}
