* {
	&,
	&::before,
	&::after {
		box-sizing: border-box;
	}
}

fieldset,
button,
ul {
	padding: 0;
}

body,
h1,
p,
ul {
	margin: 0;
}

body {
	color: var(--color-grey-900);
	min-height: 100vh;
	min-width: 390px;
}

a {
	text-decoration: none;

	&,
	&:hover {
		color: inherit;
	}
}

fieldset,
button,
input {
	outline: none;
	border: none;
}

button {

	background-color: transparent;
	font-family: inherit;
	line-height: inherit;

	&:disabled {
		cursor: not-allowed;
	}

	&:not(:disabled) {
		cursor: pointer;
	}
}

ul {
	list-style: none;
}

address {
	font-style: normal;
}
