:root {
	--color-gray-900: #3f4445;
	--color-gray-800: #414b4c;
	--color-gray-700: #777;
	--color-gray-600: #999;
	--color-gray-400: #ebeef2;
	--color-gray-300: #f7fdff;
	--color-gray-100: #fff;
	--color-blue-900: #005bab;
	--color-blue-700: #007bff;
	--color-blue-500: #64ceff;
	--color-red-700: #f2422c;

	--shadow-default: 0 12px 80px #{rgba(#001856, 16%)};

	--gradient-primary: linear-gradient(
			180deg,
			rgba(240, 102, 36, 0.95) 13%,
			rgba(241, 100, 34, 0.95) 16%,
			rgba(242, 96, 35, 0.95) 21%,
			rgba(242, 62, 45, 0.95) 80%
	);

	--heading-xs: 16px;
	--heading-sm: 18px;
	--heading-md: 20px;
	--heading-lg: 24px;
	--heading-2xl: 30px;
	--heading-3xl: 26px;
	--heading-4xl: 32px;

	--control-height-md: 44px;
	--control-height-lg: 56px;
	--control-radius: 12px;

	overscroll-behavior: none;
	background-color: var(--color-gray-100);
	color: rgb(255 255 255 / 87%);
	color-scheme: light dark;
	font-family: Open Sansm, system-ui, Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-synthesis: none;
	font-weight: 400;
	line-height: 1;
	font-size: 16px;
	text-rendering: optimizelegibility;

	@media (width >= 640px) {
		--heading-3xl: 35px;
		--heading-4xl: 48px;
	}
}
