<!doctype html>
<html lang="ru">
	<head>
		<meta charset="UTF-8" />
		<link rel="icon" type="image/svg+xml" href="/vite.svg" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>aknova</title>
		<link rel="stylesheet" href="/src/styles/main.scss" />
		<link rel="stylesheet" href="/src/styles/views/home/page.scss" />
	</head>
	<body>
		<div class="wrapper">
			{% include "components/header.html" %}
			{% include "sections/hero-home.html" %}
			{% include "sections/how-we-do.html" %}
			<div class="section-group section-group_sky">
				{% include "sections/accessories.html" %}
			</div>
			<div class="section-group section-group_white">
				{% include "sections/services.html" %}
				{% include "sections/video-right-windows.html" %}
				{% include "sections/stock.html" %}
			</div>
			<div class="section-group section-group_sky">
				{% include "sections/reviews.html" %}
			</div>
			<div class="section-group section-group_white">
				{% include "sections/our-clients.html" %}
				{% include "sections/useful-articles.html" %}
				{% include "sections/faq-cta.html" %}
				{% include "sections/call-request-cta.html" %}
			</div>
			{% include "sections/office-map.html" %}
			{% include "components/footer.html" %}
		</div>
		<script type="module" src="/src/scripts/main.ts"></script>
		<script type="module" src="/src/scripts/views/home/page.ts"></script>
	</body>
</html>
