.test-gallery img:nth-child(1) {
  grid-area: a;
}
.test-gallery img:nth-child(2) {
  grid-area: b;
}
.test-gallery img:nth-child(3) {
  grid-area: c;
}
.test-gallery img:nth-child(4) {
  grid-area: d;
}
.test-gallery img:nth-child(5) {
  grid-area: e;
}
.test-gallery img:nth-child(6) {
  grid-area: f;
}
.test-gallery img:nth-child(7) {
  grid-area: g;
}
