<div id="request-call-popup" class="popup request-call-popup">
	<div class="popup__overlay" data-close-overlay>
		<div class="popup__body request-call-popup__body">
			<button class="popup__close request-call-popup__cross" type="button" data-close-button>
				<img class="lazy" src="#" data-src="{{ basePath }}/icons/close.svg" width="24" height="24" alt="Крестик" />
			</button>

			<div class="request-call-popup__title title title_3xl text-dark-blue text-uppercase"
			     data-popup-title>
				Заказать звонок
			</div>

			<form class="request-call-popup__form" id="request-call-popup-form" action="#">
				<fieldset class="form-field" data-error-message="Поле обязательно для заполнения">
					<label for="request-call-field-name" class="text-md">
						Ваше имя <span class="form-field__required">*</span>
					</label>
					<input id="request-call-field-name" name="name" type="text"
					       class="input input_lg input_white"
					       data-required
					       placeholder="Как вас зовут?" />
				</fieldset>
				<fieldset class="form-field" data-error-message="Поле обязательно для заполнения">
					<label for="request-call-field-phone" class="text-md">
						Ваш телефон <span class="form-field__required">*</span>
					</label>
					<input id="request-call-field-phone" name="phone" type="tel"
					       class="input input_lg input_white"
					       data-required
					       data-mask="phone"
					       placeholder="Введите ваш номер телефона" />
				</fieldset>
				<fieldset class="form-field">
					<label for="request-call-field-comment" class="text-md">
						Комментарии
					</label>
					<textarea id="request-call-field-comment"
					          rows="3"
					          name="comment"
					          class="input input_lg input_white"
					          placeholder="Напишите свой вопрос"></textarea>
				</fieldset>
				<p class="text-md text-light-grey">Нажимая на кнопку вы соглашаетесь на обработку ваших персональных данных</p>
				<button type="submit" class="btn btn_lg btn_gradient btn_full">Отправить заявку</button>
			</form>
		</div>
	</div>
</div>
