<div id="request-call-popup" class="popup request-call-popup">
	<div class="popup__overlay" data-close-overlay>
		<div class="popup__body">
			<button class="popup__close request-call-popup__cross" type="button" data-close-button>
				<img src="/icons/close.svg"
				     width="24" height="24" alt="Крестик">
			</button>

			<div class="popup__title request-call-popup__title">Заказать звонок</div>

			<form class="request-call-popup__form">
				<fieldset class="form-field">
					<label for="request-call-field-name" class="text-md">
						Ваше имя <span class="form-field__required">*</span>
					</label>
					<input id="request-call-field-name" name="name" type="text" class="input"
					       placeholder="Как вас зовут?">
				</fieldset>
				<fieldset class="form-field">
					<label for="request-call-field-phone" class="text-md">
						Ваш телефон <span class="form-field__required">*</span>
					</label>
					<input id="request-call-field-phone" name="phone" type="text" class="input"
					       placeholder="Введите ваш номер телефона">
				</fieldset>
				<fieldset class="form-field">
					<label for="request-call-field-comment" class="text-md">
						Комментарии
					</label>
					<textarea
						id="request-call-field-comment"
						name="comment"
						class="input"
						placeholder="Как вас зовут?"
					></textarea>
				</fieldset>
				<p class="text-md">Нажимая на кнопку вы соглашаетесь на обработку ваших персональных данных</p>
				<button type="submit" class="btn btn_lg btn_gradient btn_full">Отправить заявку</button>
			</form>
		</div>
	</div>
</div>
