.about {
	&__container {
		display: grid;
		gap: 32px;

		@media (width >= 960px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__title {
		text-align: center;

		@media (width >= 960px) {
			grid-column: 1 / 3;
		}
	}

	&__content {
		display: grid;
		gap: 24px;

		@media (width >= 960px) {
			gap: 32px;
		}
	}

	&__text {
		display: grid;
		gap: 20px;
	}

	&__statistic {
		@media (width >= 960px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			align-items: center;
		}

		h4 {
			@media (width >= 960px) {
				grid-column: 1 / 3;
			}
		}

		img {
			display: block;
			margin: 20px auto;

			@media (width >= 640px) {
				margin-inline: 0;
			}

			@media (width >= 960px) {
				margin-block: 0;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}

	&__card {
		border-radius: var(--radius-lg);
		overflow: hidden;
	}

	&__info {
		padding-inline: 24px;
		padding-block: 24px 74px;
		background-color: var(--color-blue-900);
		position: relative;

		@media (width >= 640px) {
			border-radius: var(--radius-lg);
		}

		p {
			margin-bottom: 40px;

			@media (width >= 1100px) {
				margin-bottom: 24px;
				width: 60%;
			}
		}

		img {
			position: absolute;
			right: 0;
			bottom: 0;

			@media (width >= 1100px) {
				width: auto;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
