.accessories {
	&__title {
		text-align: center;
		margin-block-end: 32px;

		@media (width >= 640px) {
			text-align: start;
			margin-block-end: 60px;
		}
	}

	&__grid {
		display: grid;
		gap: 32px;

		@media (width >= 640px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}
