.faq-cta {
	&__title {
		text-align: center;

		@media (width >= 960px) {
			text-align: start;
		}
	}

	&__container {
		display: grid;
		gap: 32px;

		@media (width >= 960px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__accordion {
		@media (width >= 960px) {
			grid-row: 1 / 3;
			grid-column: 2 / 3;
		}
	}

	&__advertising {
		@media (width >= 960px) {
			align-self: end;
		}
	}
}
