.hero-home {
	position: relative;
	padding-block: calc(var(--header-height) + 40px) 32px;
	min-height: 100dvh;

	@media (width >= 960px) {
		padding-block: calc(var(--header-height) + 100px) 60px;
	}

	&::before,
	&__bg {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
	}

	&::before {
		content: "";
		background-color: color-mix(in srgb, #07132f, transparent 65%);
		z-index: 1;
	}

	&__bg {
		object-fit: cover;
		pointer-events: none;
	}

	&__container {
		position: relative;
		z-index: 1;
	}

	&__title {
		max-width: 884px;
		margin-block-end: 40px;
	}

	&__form {
		max-width: 596px;
		display: grid;
		align-items: center;
		gap: 16px;
		margin-block-end: 40px;

		@media (width >= 640px) {
			grid-template-columns: 1fr 260px;
		}
	}

	&__rating {
		margin-block-end: 55px;

		@media (width >= 640px) {
			margin-block-end: 64px;
		}
	}

	&__sub-title {
		margin-block-end: 16px;

		@media (width >= 640px) {
			margin-block-end: 20px;
		}
	}

	&__slider {
		display: grid;
		padding-block-end: 28px;
	}
}
