@use "sass:list";

.how-we-do {
	@media (width >= 640px) {
		.swiper-pagination {
			width: auto !important;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
	}

	&__title,
	&__description {
		text-align: center;
	}

	&__title {
		margin-block-end: 16px;
	}

	&__description {
		margin-block-end: 60px;
	}

	&__slider {
		max-width: 100%;

		&._mobile {
			display: flex;

			@media (width >= 640px) {
				display: none;
			}

			img {
				width: 100%;
				height: 100%;
				aspect-ratio: 4 / 3;
				object-fit: cover;
				border-radius: var(--radius-lg);
			}
		}

		&._desktop {
			display: none;

			@media (width >= 640px) {
				display: flex;
			}
		}
	}

	&__navigation {
		align-self: center;
		margin-block-start: 24px;

		@media (width >= 640px) {
			margin-block-start: 40px;
		}
	}

	&__gallery {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-rows: repeat(2, min(16vw, 230px));
		gap: 16px;
		grid-template-areas:
	    "a a a b b b c c d d d d"
	    "e e e b b b f f f f g g";

		@media (width >= 960px) {
			gap: 32px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: var(--radius-lg);

			@for $i from 1 through 7 {
				&:nth-child(#{$i}) {
					grid-area: #{list.nth((a, b, c, d, e, f, g), $i)};
				}
			}
		}
	}
}
