.our-offers {
	&__container {
		display: grid;
		gap: 32px;

		@media (width >= 960px) {
			grid-template-columns: repeat(2, 1fr);
			gap: 60px 20px;
		}
	}

	&__description {
		@media (width >= 960px) {
			grid-column: 2 / 3;
		}

		> *:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__tabs {
		display: grid;
		gap: 24px;

		@media (width >= 960px) {
			grid-column: 1 / -1;
			gap: 40px;
		}
	}
}
