.our-clients {
	&__container {
		display: grid;
		justify-items: center;
		gap: 32px;

		@media (width >= 640px) {
			gap: 60px;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 40px 10px;

		@media (width >= 640px) {
			gap: 46px 50px;
		}

		> img {
			width: 175px;
			height: auto;
			object-fit: contain;

			@media (width >= 640px) {
				width: 200px;
			}
		}
	}

	&__link {
		@media (width >= 640px) {
			width: max-content;
		}
	}
}
