.reviews {
	&__container {
		display: grid;
		gap: 32px;

		@media (width >= 640px) {
			grid-template-columns: 1fr auto;
			row-gap: 60px;
		}
	}

	&__title {
		text-align: center;

		@media (width >= 640px) {
			text-align: start;
		}
	}

	&__slider {
		margin: -36px;
		padding: 36px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		@media (width >= 640px) {
			grid-column: 1 / -1;
			gap: 40px;
		}
	}

	&__navigation {
		align-self: center;
	}

	&__slide {
		@media (width >= 640px) {
			transition-property: opacity, padding-block;
			transition-timing-function: ease-in-out;
			transition-duration: .2s;

			&:not(.swiper-slide-active) {
				padding-block: 30px;
			}

			&:not(.swiper-slide-active, .swiper-slide-prev, .swiper-slide-next) {
				opacity: 0;
			}
		}
	}

	&__link {
		@media (width >= 640px) {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
	}
}
