.useful-articles {
	&__container {
		display: grid;
		gap: 32px;

		@media (width >= 640px) {
			grid-template-columns: 1fr auto;
			row-gap: 60px;
		}
	}

	&__title {
		text-align: center;

		@media (width >= 640px) {
			text-align: start;
		}
	}

	&__slider {
		margin: -36px;
		padding: 36px;
		display: flex;
		flex-direction: column;
		gap: 24px;

		@media (width >= 640px) {
			grid-column: 1 / -1;
			gap: 40px;
		}
	}

	&__navigation {
		align-self: center;
	}

	&__slide {
		display: flex;
	}

	&__card {
		@media (width >= 640px) {
			max-width: 286px;
		}

		&-image {
			position: relative;
			width: 100%;
			padding-block-end: 262px;
			overflow: hidden;

			@media (width >= 640px) {
				padding-block-end: 208px;
			}

			img {
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-body {
			padding: 24px;
			display: flex;
			flex-direction: column;
			gap: 12px;
		}

		&-title {
			flex-grow: 1;
		}
	}

	&__link {
		@media (width >= 640px) {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
	}
}
