<section class="hero-home">
	<picture>
		<source srcset="{{ basePath }}/images/hero-home/bg-desktop.webp" media="(min-width: 640px)">
		<img class="hero-home__bg" src="{{ basePath }}/images/hero-home/bg-mobile.webp" alt="">
	</picture>
	<div class="hero-home__container container">
		<h1 class="hero-home__title title title_4xl text-white text-uppercase">Наши окна прослужат вам дольше других!</h1>

		<form class="hero-home__form" id="hero-form" action="#">
			<fieldset class="form-field" data-error-message="Поле обязательно для заполнения">
				<input type="tel" placeholder="Введите ваш номер телефона"
				       data-mask="phone"
				       class="input input_lg input_smoke" data-required>
			</fieldset>

			<button type="submit" class="btn btn_lg btn_gradient btn_full">Вызвать замерщика</button>
		</form>

		<div class="hero-home__rating">{% include "components/2-gis-rating.html" %}</div>

		<div>
			<p class="text-uppercase title title_lg text-white hero-home__sub-title">Преимущества наших окон:</p>

			<div class="swiper swiper-overflow hero-home__slider" id="hero-slider">
				<div class="swiper-wrapper">
					{% for advantage in heroAdvantages %}
					<div class="swiper-slide">
						<div class="hero-card">
							<img src="{{ advantage.image }}" alt="" class="hero-card__image" loading="lazy">
							<div class="semi-bold text-blue text-md">{{ advantage.title }}</div>
							<div class="text-md">{{ advantage.description }}</div>
						</div>
					</div>
					{% endfor %}
				</div>
				<div class="swiper-scrollbar"></div>
			</div>
		</div>
	</div>
</section>
