<section class="our-offers">
	<div class="container our-offers__container">
		<h2 class="title title_3xl text-dark-blue text-uppercase">Наши предложения</h2>
		<div class="text-md our-offers__description">
			<p>
				Цены на окна и стеклопакеты зависят от множества факторов. Основные — размер оконных конструкций и количество створок.
				Рассчитайте стоимость окна, пригласив наших замерщиков.
			</p>
		</div>

		<div class="our-offers__tabs" data-tabs="our-offers">
			<nav class="tabs-navigation our-offers__tabs-nav" data-tabs="navigate">
				{% for tab in ourOffers %}
				<button class="tabs-navigation__item" data-value-tabs="{{ tab.tabKey }}" data-tabs="trigger" type="button">
					{{ tab.tabTitle }}
				</button>
				{% endfor %}
			</nav>
			<div data-tabs="content">
				{% for tab in ourOffers %}
				<div data-tabs="item" data-type="{{ tab.tabKey }}">
					<div class="swiper swiper-overflow our-offers__slider">
						<div class="swiper-wrapper">
							{% for card in tab.tabContents %}
							<div class="swiper-slide our-offers__slide">
								<article class="our-offers-card base-card {% if card.isBig %}our-offers-card_big{% endif %}">
									<div class="our-offers-card__image">
										<img class="lazy" src="#" data-src="{{ card.image }}" alt="{{ card.title }}"
										     height="{{ card.imageHeight }}" />
									</div>
									<div class="our-offers-card__body">
										<h3 class="our-offers-card__title title title_sm">{{ card.title }}</h3>
										<div class="our-offers-card__description">
											<p class="text-md">{{ card.description }}</p>
											<span
												class="our-offers-card__tooltip title title_sm"
												data-tippy-content="<div class='our-offers-card__tooltip-content'><span>Фурнитура</span><span>Roto NT / Internika</span>"
											>
												?
											</span>
										</div>
										<div class="our-offers-card__footer">
											<span class="text-orange title title_2xl">{{ card.price }}</span>
											<button class="btn btn_blue btn_md" type="button"
											        data-popup-id="request-call-popup"
											        data-popup-title="Заказать {{ card.title }}">
												Заказать
											</button>
										</div>
									</div>
								</article>
							</div>
							{% endfor %}
						</div>

						<div class="swiper-navigation our-offers__navigation">
							<button type="button" class="swiper-navigate-btn" data-navigation="prev">
								<svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M2.00324 18.8102L10.8109 9.93771C10.9369 9.81094 11 9.66511 11 9.50013C11 9.33516 10.9369 9.18905 10.8109 9.06222L2.00324 0.190448C1.87706 0.0633493 1.73228 0 1.56843 0C1.40465 0 1.25967 0.0635494 1.13376 0.190448L0.189004 1.14216C0.0630236 1.26905 6.58035e-05 1.41509 6.58035e-05 1.58007C6.58035e-05 1.74504 0.0630236 1.89108 0.189004 2.01798L7.61687 9.50013L0.18854 16.9826C0.0625601 17.1094 0 17.2555 0 17.4202C0 17.5854 0.0629568 17.7315 0.18854 17.8583L1.13369 18.8102C1.2596 18.937 1.40465 19 1.56836 19C1.73228 19.0001 1.87726 18.937 2.00324 18.8102Z"
										fill="#005BAB"
									/>
								</svg>
							</button>
							<div class="swiper-pagination"></div>
							<button type="button" class="swiper-navigate-btn" data-navigation="next">
								<svg width="11" height="19" viewBox="0 0 11 19" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path
										d="M2.00324 18.8102L10.8109 9.93771C10.9369 9.81094 11 9.66511 11 9.50013C11 9.33516 10.9369 9.18905 10.8109 9.06222L2.00324 0.190448C1.87706 0.0633493 1.73228 0 1.56843 0C1.40465 0 1.25967 0.0635494 1.13376 0.190448L0.189004 1.14216C0.0630236 1.26905 6.58035e-05 1.41509 6.58035e-05 1.58007C6.58035e-05 1.74504 0.0630236 1.89108 0.189004 2.01798L7.61687 9.50013L0.18854 16.9826C0.0625601 17.1094 0 17.2555 0 17.4202C0 17.5854 0.0629568 17.7315 0.18854 17.8583L1.13369 18.8102C1.2596 18.937 1.40465 19 1.56836 19C1.73228 19.0001 1.87726 18.937 2.00324 18.8102Z"
										fill="#005BAB"
									/>
								</svg>
							</button>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
