<section class="our-offers">
	<div class="container our-offers__container">
		<h2 class="title title_3xl text-dark-blue text-uppercase">Наши предложения</h2>
		<div class="text-md our-offers__description">
			<p>
				Цены на окна и стеклопакеты зависят от множества факторов.
				Основные — размер оконных конструкций и количество створок.
				Рассчитайте стоимость окна, пригласив наших замерщиков.
			</p>
			<p>
				Определите особенности вашего балконного блока, оставив заявку на сайте.
				Наши специалисты свяжутся с вами в ближайшее время.
			</p>
		</div>

		<div class="our-offers__tabs" data-tabs="our-offers">
			<nav class="tabs-navigation" data-tabs="navigate">
				{% for tab in ourOffers %}
				<button class="tabs-navigation__item" data-value-tabs="{{ tab.tabKey }}" data-tabs="trigger" type="button">
					{{ tab.tabTitle }}
				</button>
				{% endfor %}
			</nav>
			<div data-tabs="content">
				{% for tab in ourOffers %}
				<div data-tabs="item" data-type="{{ tab.tabKey }}">
					<div class="swiper swiper-overflow our-offers__cards">
						<div class="swiper-wrapper">
							{% for card in tab.tabContents %}
							<div class="swiper-slide our-offers__slide">
								<article class="our-offers-card base-card {% if card.isBig %}our-offers-card_big{% endif %}">
									<div class="our-offers-card__image">
										<img src="{{ card.image }}" alt="{{ card.title }}" height="{{ card.imageHeight }}" loading="lazy">
									</div>
									<div class="our-offers-card__body">
										<h3 class="our-offers-card__title title title_sm">{{ card.title }}</h3>
										<div class="our-offers-card__description">
											<p class="text-md">{{ card.description }}</p>
										</div>
										<div class="our-offers-card__footer">
											<span class="text-orange title title_2xl">{{ card.price }}</span>
											<button class="btn btn_blue btn_md" type="button">Заказать</button>
										</div>
									</div>
								</article>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
