.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-height);
	z-index: 10;
	background-color: var(--color-grey-100);

	.burger-menu-opened & {
		width: calc(100% - var(--scrollbar-width));
	}

	&__container {
		display: flex;
		height: 100%;
		align-items: center;

		@media (width >= 960px) {
			gap: 44px;
		}

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-grey-100);
			z-index: 1;
		}
	}

	&__burger {
		padding-block: 6px;
		width: 32px;
		aspect-ratio: 1;
		display: grid;
		gap: 4px;
		margin-inline-end: 20px;
		z-index: 2;

		span,
		&::before,
		&::after {
			width: 32px;
			height: 4px;
			background-color: var(--color-black-700);
		}

		&::before,
		&::after {
			content: "";
			display: block;
		}

		@media (width >= 960px) {
			display: none;
		}
	}

	&__logo {
		position: relative;
		z-index: 2;

		img {
			@media (width >= 960px) {
				width: 204px;
				height: auto;
			}
		}

		address {
			display: none;

			@media (width >= 960px) {
				position: absolute;
				bottom: 0;
				right: 0;
				display: block;
				color: var(--color-grey-700);
				text-align: end;
			}
		}
	}

	&__contacts {
		display: none;

		@media (width >= 960px) {
			display: grid;
			justify-items: start;
			gap: 4px;
			text-wrap: nowrap;
			z-index: 1;
		}
	}

	&__phone {
		font-size: 26px;
		color: var(--color-grey-900);
	}

	&__social {
		z-index: 2;
		display: flex;
		align-items: center;
		gap: 12px;
		margin-inline-start: auto;

		@media (width >= 960px) {
			display: none;
		}
	}
}
